body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div{
    width: 75%;
}

/* ________________________Start Button__________________________ */
button{
    justify-self: center;
}

#startButton:active {
    transform: translateY(2px);
}

#startButton:hover{
    transition-duration: 0.2s;
    background-color: white;
    color: #3e8e41;
}

#startButton{
    background-color: green;
    color: azure;
    font-size: 1.5rem;
    width: 10rem;
    height: 2.5rem;
    border-radius: 12px;
}
/* __________________________________________________ */


#headerDiv{
    border-style: solid;
}


footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}



.hide{
    display: none;
}